# Data Science Tools and Ecosystem

This notebook summarizes widely used languages, libraries, and tools in data science, and shows a few simple Python calculations.

## Objectives
- List popular languages for Data Science
- List commonly used libraries
- Create a small table of tools
- Evaluate a simple arithmetic expression in Python
- Convert minutes to hours in Python

## Data Science Languages
- Python
- R
- SQL

## Data Science Libraries
- pandas
- NumPy
- Matplotlib
- scikit-learn

## Data Science Tools

In [1]:
import pandas as pd
tools = pd.DataFrame({
    'Tool': ['JupyterLab', 'RStudio', 'VS Code'],
    'Category': ['Notebook IDE', 'Statistical IDE', 'Code Editor']
})
tools

         Tool         Category
0  JupyterLab     Notebook IDE
1     RStudio  Statistical IDE
2     VS Code      Code Editor

### Arithmetic Expression Examples

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

## Author
عماد (Emad)